@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --yellow: #FEC63E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* HEADER */

header {
    padding: 10px;
    width: 100vw;
    background-color: var(--yellow);
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container nav ul {
    display: flex;
}

.header-container nav ul li {
    list-style-type: none;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;

    margin-left: 20px;
}

.header-container nav ul li > a {
    text-decoration: none;

    color: #000;
}

/* MAIN */

main {
    width: 100%;
    height: 380px;

    background-image: url(../img/fotos/mesa-trabalho.jpg);
    background-size: 100% 100%;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-main h1 {
    margin: 80px 0 12px 0;

    font-family: Roboto;
    font-size: 48px;
    line-height: 60px;

    color: #fff;
}

.container-main hr {
    width: 80px;
    border: 2px solid #fff;
}

.container-main p {
    width: 320px;
    margin: 12px;
    
    font-family: 'Noto Serif', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    text-align: center;

    color: #fff;
}

.container-main h3 {
    margin-top: 12px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 20px;

    color: #fff;
}

.btn-action {
    margin-top: 13px;
    width: 160px;
    height: 40px;

    border: 3px solid var(--yellow);
    padding: 12px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;

    color: var(--yellow);
}

.btn-action:hover {
    cursor: pointer;
    background-color: #FEC63E;
    color: #fff;

    transition: .3s;
}

/* PRODUTOS */

.container-produtos {
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-produtos h2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    
    text-align: center;
}

.container-produtos hr {
    margin: 0 auto;
    width: 80px;
    border: 2px solid #000;
}

.container-produtos > p {
    margin-top: 20px;
    font-family: 'Noto Serif', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

/* CARD */

.produtos-card {
    display: flex;
}

.card {
    width: 300px;
    margin-top: 40px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #000;
}

.card + .card {
    margin-left: 20px;
}

.card img {
    padding: 45px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    background-color: var(--yellow);
}

.card-content h2 {
    margin: 15px 0 5px 0;
    font-weight: 500;
}

.card-content p {
    font-family: "Noto Serif", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 8px 20px 18px;
}

/* PORTIFOLIO */

.portifolio {
    width: 100%;
    height: 820px;

    margin-top: 60px;

    background-color: #000;
}

.container-portifolio h2 {
    padding-top: 40px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.7px;
    text-align: center;

    color: var(--yellow)
}

.container-portifolio hr {
    margin: 0 auto;
    width: 80px;
    border: 2px solid var(--yellow);
}

.container-portifolio p {
    margin-top: 20px;
    font-family: "Noto Serif",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    text-align: center;
    color: #fff;
}

.container-portifolio span {
    margin: 13px auto 0;
}

.portifolio-imagens {
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.portifolio-imagens img {
    width: 100%;
    height: 280px;
}
.portifolio-imagens img:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2;  
}

/* QUALIDADES-HOME */

.container-qualidades  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-qualidades h2 {
    padding-top: 40px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    
    text-align: center;    
}

.container-qualidades hr {
    margin: 0 auto;
    width: 80px;
    border: 2px solid #000;
}

.container-qualidades img {
    margin: 0 auto;
    padding-top: 40px;
}

.qualidades-lista ul{
    display: flex;
    flex-direction: row;
    
}

.qualidades-lista ul li {
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.qualidades-lista ul li p {
    padding-top: 16px;

    font-family: "Noto Serif",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.container-qualidades > p {
    margin-top: 20px;

    font-family: "Noto Serif",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    text-align: center;
}

/* QUOTE-HOME */

.quote {
    margin-top: 60px;

    width: 100%;
    height: 220px;

    background-image: url(../img/fotos/bg-quote.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 220px
}

.container-quote hr{
    width: 80px;
    border: 2px solid #fff;
}

.container-quote > p {
    width: 475px;
    padding: 12px 0;

    font-family: "Noto Serif",  sans-serif;
    font-weight: 500;
    font-style: italic;
    font-weight: 18px;
    line-height: 25px;
    text-align: center;

    color: #fff;
}


.container-quote h3 {
    margin-top: 12px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 20px;

    color: #fff;
}