
header {
    padding: 10px;
    width: 100vw;
    background-color: var(--yellow);
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container nav ul {
    display: flex;
}

.header-container nav ul li {
    list-style-type: none;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;

    margin-left: 20px;
}

.header-container nav ul li > a {
    text-decoration: none;

    color: #000;
}

.header-container nav ul li a:hover {
    color: #fff;

    transition: .1s;
}