.produtos {
    width: 100%;
    height: 160px;
    background-image: url(../../img/fotos/bg-sobre.png);
    background-size: 100% 100%;
}

.container-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-produtos h1 {
    padding-top: 40px;
    font-family: Roboto;
    font-size: 48px;
    line-height: 60px;

    color: #fff;
}

.container-produtos hr {
    width: 80px;
    border: 2px solid #fff;
}

.container-produtos p {
    width: 320px;
    margin: 12px;
    
    font-family: 'Noto Serif', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    text-align: center;

    color: #fff;
}

.btn-action {
    margin-top: 13px;
    width: 160px;
    height: 40px;

    border: 3px solid var(--yellow);
    padding: 12px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-decoration: none;


    color: var(--yellow);
}

.btn-action:hover {
    cursor: pointer;
    background-color: #FEC63E;

    color: #fff;
    transition: .3s;
}

.subtitulo {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.quote {
    margin-top: 60px;
}

/* MODELOS-CARDS */

.produto-item {
    padding-top: 60px;
}

.produto-item:nth-child(1) {
    padding-bottom: 60px;
}

.produto-item h2 {
    font-size: 36px;
    letter-spacing: .1em;

    color: #fff;

    position: relative;
    top: -180px;
    text-align: center;

    margin-bottom: -62px;
}

.produto-item h2::before,
.produto-item h2:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;

    margin: 10px auto;
}

.produto-icone {
    background-color: #000;
    text-align: center;
    padding: 68px 0;

    margin-left: 20px;
}

.produto-info {
    background-color: #000;
    margin-left: 20px;
}

.produto-info p {
    color: #fff;
    font-family: 'Noto Serif', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;

    padding: 30px;
}

.produto-info ul {
    list-style-type: none;
}

.produto-info ul li {
    background-color: var(--yellow);

    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    font-style: normal;
    text-align: center;

    float: left;

    width: 229px;
    height: 49px;

    padding-top: 13px;
}
.produto-info ul li:nth-child(1),
.produto-info ul li:nth-child(2) {
    margin-bottom: 2px;
} 

.produto-info ul li:nth-child(even) {  /* Seleciona os itens par*/
    margin-left: 2px;
}

